.btn {
  border-radius: 25px;
  padding: 0.5rem 2rem 0.5rem 2rem;
  background: none;
  border: none;
  font-size: clamp(0.8rem, 1vw, 1.5vw);
}

.btn--Head-Disabled {
  border: 1px solid #333;
  color: #333;
}

.btn--Head {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn--close {
  width: 3rem;
  height: 3rem;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.btn--login {
  margin-top: 1vw;
  border-radius: 50px;
  padding: 1rem 7vw 1rem 7vw;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 2.5vw);
}

.buttonContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-top: 2rem;
}

.btn-one {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn-two {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn-three {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.btn--login:hover,
.btn--close:hover,
.btn--Head:hover,
.btn-one:hover,
.btn-two:hover,
.btn-three:hover {
  border: 1px solid #333;
  color: rgb(75, 75, 75);
  background-color: white;
}