button {
  border-radius: 25px;
  padding: 12px 18px;
  background: none;
  color: white;
  border: 1px solid white;
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.6s;
}

button:hover {
  background: white;
  border-color: white;
}

.btn--Head-Disabled {
  opacity: 25%;
  cursor: default;
}

.btn--Head-Disabled:hover {
  background: none;
}

.btn--close {
  width: 4.5rem;
  height: 4.5rem;
  background: none;
  border: 1px solid white;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
  text-align: center;
}

.btn--login {
  margin-top: 24px;
  border-radius: 50px;
  background: none;
  font-size: 2em;
  padding-left: 48px;
  padding-right: 48px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.btn--login:hover,
.btn--close:hover,
.btn--Head:hover,
.btn-one:hover,
.btn-two:hover,
.btn-three:hover {
  color: #652d73;
  background: white;
  border-color: white;
  box-shadow: 0px 16px 16px -8px rgba(7, 1, 90, 0.4);
  transform: scale(1.1);
}

.btn--answer{
  min-width: 200px;
}
