.btn {
  border-radius: 25px;
  padding: .5rem 2rem .5rem 2rem;
  background: none;
  border: none;
  font-size: clamp(.8rem, 1vw, 1.5vw);
}

.btn--Head-Disabled{
  border: 1px solid #333;
  color: #333;
}

.btn--Head {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
