.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  grid-row: 1 / 2;
  padding: 24px calc(100% / 12);
  min-width: 320px;
  row-gap: 24px;
}

.header--link {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.logo-titel {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 0;
}

.logo--img {
  height: 48px;
}

.head-button-container {
  display: flex;
  column-gap: 16px;
}

@media (max-width: 680px) {
  .logo-titel {
    display: none;
  }
}
