.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding: 1rem;
  grid-row: 1 / 2;
  padding: 5% 5% 0 5%;
  min-width: 360px;
}

.header > * {
  margin-bottom: 1rem;
}

.header--link {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
  margin-right: auto;
  column-gap: 1rem;
}

.logo-titel{
  font-size: clamp(1rem, 2vw, 2vw);
}

.logo--img {
  height: 60px;
}


.head-button-container {
  display: flex;
  justify-content: space-around;
  column-gap: .5rem;
}

@media (max-device-width: 600px) {
  .head-button-container {
    width: 100%;
  }
  .header--link {
    width: 100%;
  }
}