.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    grid-row: 1 / 2;
}

.header--link {
    display: flex;
    align-items: center;
    margin-right: auto;
    column-gap: 1rem;
}

.logo--img {
    height: 60px;
}