.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
}

.login-input{
    height: 3rem;
    background: none;
    border: none;
    width: 80%;
    border-bottom: 1px solid white;
    text-transform: uppercase;
    padding: 1rem;
    color: white;
    font-size: 2rem;
    letter-spacing: .4rem;
    text-align: center;
    outline: none;
}

.login-input::placeholder {
    padding: 0;
    letter-spacing: .8rem;
    text-align: center;
    font-size: 2rem;
    color:rgba(255,255,255, .5);
}