.meme {
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    z-index: 1;
    margin-top: 3rem;
}

.meme::before{
    content: "\201D";
    position: absolute;
    top: -4rem;
    left: -2rem;
    z-index: -1;
    color: rgba(255,255,255,.1);
    font-size: 8rem;
}

.meme::after{
    content: "\201D";
    position: absolute;
    bottom: -3rem;
    right: 2rem;
    z-index: -1;
    color: rgba(255,255,255,.1);
    font-size: 8rem;
}


.meme--author {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: 10%;
    width: fit-content;
    color: rgba(255,255,255,.5);
    font-size: 1rem;
}
