.modal-content {
  width: 100%;
}

.modal--list > li {
  padding: 0.5rem;
  font-size: 2rem;
}

.modal--list > :first-child {
  padding-top: 0;
}

.modalContainer {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 70vw;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #333;
  padding: 3rem;
  flex-wrap: wrap;
  align-items: flex-start;
  row-gap: 0.5rem;
  display: none;
  z-index: 1;
  max-width: 640px;
}

.modalContainer * {
  color: rgb(75, 75, 75);
}

.modal-head {
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
}

.hidden {
  display: flex;
}
