.modal-content {
    width: 100%;
  }

.modal--list > li {
    padding: .5rem;
    font-size: clamp(.6rem, 1.5vw, 1.5vw);
}

.modal--list > :first-child {
    padding-top: 0;
}

.modalContainer {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70vw;
    height: 80vh;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255,.6);
    border: 1px solid #333;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;
    row-gap: .5rem;
    display: none;
    z-index: 1;
  }

  .modalContainer * {
    color: rgb(75, 75, 75);
  }
  
  .modal-head{
    text-transform: uppercase;
    margin: 0;
    margin-right: auto;
  }
  
  .hidden {
    display: flex;
  }
  
