.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  background: linear-gradient(
    80.47deg,
    #4e3e96 0%,
    #652d73 45.31%,
    #913232 97.92%
  );
}

.btn--login {
  margin-top: 1vw;
  border-radius: 50px;
  padding: 1rem 7vw 1rem 7vw;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 2.5vw);
}
