.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  background: linear-gradient(
    80.47deg,
    #4e3e96 0%,
    #652d73 45.31%,
    #913232 97.92%
  );
}

.btn--login {
  border-radius: 25px;
  padding: 1rem 2rem 1rem 2rem;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}
