.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr 80px;
  background: linear-gradient(
    80.47deg,
    #4e3e96 0%,
    #652d73 45.31%,
    #913232 97.92%
  );
}


